/* Add this to your existing stylesheet or create a new one */

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px;
    max-width: 400px;
    background-color: #fff;
}

.card p {
    margin: 5px 0;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 14px;
}

.card button {
    background-color: #4caf50;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card button:hover {
    background-color: #45a049;
}

/* Adjust styling as needed */

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 45px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.total {
    font-size: 20px;
}

.buy {
    padding: 10px 25px 10px 25px;
    border-radius: 15px;
    background-color: chocolate;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.pay{
    margin-left: 300px;
}

.logout {
    margin-left: 15px;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    background-color: chocolate;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px;
}

.hello {
    margin-right: 1000px;
    font-size: 25px;
}