/* You can add this to your existing stylesheet or create a new one */

body {
    margin: 0;
    padding: 0;
  }
  
  .parent {
    background-image: url("https://wallpapercrafter.com/desktop/77788-artist-artwork-digital-art-hd-4k-artstation.jpg");
    background-color: #f4f4f4; /* Fallback background color */
    background-size: cover; /* Adjust to your needs */
    background-position: center; /* Adjust to your needs */
    height: 100vh; /* Set height to 100vh for full viewport height */
    position: relative;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    padding: 40px;
    background-color: #f4f4f481;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1; /* Ensure the container is above the background */
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input,
  textarea,
  select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .button {
    background-color:black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 37px;
  }
  
  .parent {
    position: relative;
  }
  
  button.logout {
    background-color: #ff5757;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2; /* Ensure the button is above the background */
  }
  
  /* Add any additional styles as needed */
  